body {
  font-family: Roboto,sans-serif!important;
  margin:0px;
  font-weight:100;
}

#top-header{
	width:100%;
	background-color:#50abf2;
	/*height:100%;*/
  /*max-height:700px;*/
	color:white;
}
a {cursor:pointer;}
#top-header a:visited {color:white;}
#top-header a:link {color:white;}
#intro{
  position:relative;
  width:80%;
  max-width:700px;
  text-align:justify;
  margin:auto;
  padding: 30px 0px;
  font-weight:400;
}
#footer {
  width:80%;
  margin:auto;
  text-align:center;
  font-size:11px;
}
#topics-context {
	width:100%;
	background-color:white;
  color:black;
}
.content{
	width:100%;
	max-width:900px;
	position:relative;
	margin:auto;
	padding:50px 0px;
}
.context-container{
  width:100%;
  background-color:#f9f9f9;
  min-height:20%;
  color:white;
  /*font-size:2em;*/
}

/*

  TWEETS BY DAY styles

*/

#TweetsByDay{
  position:relative;
  margin:auto;
  width:100%;
  max-width:700px;
  min-width:500px;
  margin-bottom:30px;
}
#TweetsByDay-map {
  position:relative;
  width:500px;
  margin:auto;
}
#TweetsByDay-map svg {
  position:relative;
  margin:auto;
}
#TweetsByDay-bars{
  width: 500px;
  position:relative;
  margin:auto;
}
#TweetsByDay p{
  position:relative;
  width:500px;
  margin:20px auto;
}
#TweetsByDay-info {
  position:absolute;
  width:250px;
  /*height:80px;*/
  border:2px solid #a7a5a5;
  right:0px;
  top:0px;
  text-align:center;
  padding:10px;
}
#viz1-statename{
  font-weight:bold;
}
/*

  SENTIMENT styles

*/
#sentiment-context{
  width:100%;
  background-color:#f7f7f7;
  min-height:20%;
  color:black;
  font-weight:300;
  /*font-size:2em;*/
}
#sentiment-context .content{

}
#SentimentGrid{
  position:relative;
  margin:auto;
  width:100%;
  max-width:700px;
}
#SentimentGrid .states-grid{
  /*position:absolute;*/
}
#SentimentGrid .state text{
	fill:#6b6a69;
	text-anchor:middle;
	font-size:12px;
}
 #SentimentGrid p {
  width:100%;
  max-width: none;
  margin:auto;
  padding-bottom:10px;
  margin: 20px 0px;
}
.pos { color:#f2bc27; font-weight:bold;}
.neg { color:#6eabcc; font-weight:bold;}
#SentimentGrid .annotation{
  position:absolute;
  text-anchor:middle;
  font: 1em sans-serif;
}
#SentimentGrid .sentiment-detail{
	overflow:visible;
  display: block;
  position: absolute;

}
#SentimentGrid .sentiment-detail text{
  font-size:16px;
}
#SentimentGrid  .controls{
  width:400px;
  margin:auto;
  position:absolute;
  top:30px;
  width:100%;
  cursor:pointer;
  z-index:100;

}
#SentimentGrid  .controls .checkbox-container {
  display:inline;
  margin:auto 10px;
}
#SentimentGrid  .controls .checkbox-container input{
  margin:0px 10px
}
.terms-caption{
  position:relative;
  font-size:12px;
  text-align:right;
  transform:translate(0px, -10px);
}

/*
  HASHTAGS STYLES
*/
#HashtagsContainer{
  width:100%;
  padding:20px 0px;
  background-color:#f7f7f7;
  position:relative;
}
.cluster-text text{
  font-size:11px;
  cursor:pointer;
}
.hbars{
  position:relative;
  margin:auto;
  width:50%;
  float:left;
  transform:translate(30px,0px)
}
.hbars text{
  font-weight:bold;
  font-size:11px;
  cursor:default;
}
#HashtagsGraph{
  position:relative;
  margin:auto;
  width:50%;
}
#TopicsGraph .content{
  position:relative;
  padding: 50px 0px 0px 0px;
}